{%extends 'base.html'%}
{%block head%}
<title>Mew Manga</title>
<style>
    .aboutManga img{
        width: 45vh;
        margin-right: 20px;
    }
    .aboutManga{
        min-height: 70vh;
        background-color: #f1dae5;
        border-radius: 20px;
    }
    p{
        font-size: 20px;
    }
</style>
{%endblock%}
{%block body%}
<div class="container py-4 aboutManga mt-4">
    <img
        src="{{ entry['Manga']['image'] }}"
        alt=""
        style="float: left">
    <h1>{{ entry['Manga']['title'] }}</h1>
    <h3>Plot</h3>
    <p>{{ entry['Manga']['description'] }}</p>
</div>


{%endblock%}