{%extends 'base.html'%}
{%block head%}
<title>Mew Manga</title>
<style>
    .aboutManga img{
        width: 45vh;
        margin-right: 20px;
    }
    .aboutManga{
        min-height: 70vh;
        background-color: #f1dae5;
        border-radius: 20px;
    }
</style>
{%endblock%}
{%block body%}
<div class="container py-4 aboutManga mt-4">
    <img
        src="https://upload.wikimedia.org/wikipedia/commons/5/58/Wikipe-tan_manga_page1.jpg"
        alt=""
        style="float: left">
    <h1>Title</h1>
    <h3>Plot</h3>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus,
        blanditiis hic impedit nihil quae quaerat quam quidem sed sunt voluptas!
        Distinctio ea fugiat maiores nesciunt quam quis, quo rerum unde?
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus,
        blanditiis hic impedit nihil quae quaerat quam quidem sed sunt voluptas!
        Distinctio ea fugiat maiores nesciunt quam quis, quo rerum unde?
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus,
        blanditiis hic impedit nihil quae quaerat quam quidem sed sunt voluptas!
        Distinctio ea fugiat maiores nesciunt quam quis, quo rerum unde?
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus,
        blanditiis hic impedit nihil quae quaerat quam quidem sed sunt voluptas!
        Distinctio ea fugiat maiores nesciunt quam quis, quo rerum unde?
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus,
        blanditiis hic impedit nihil quae quaerat quam quidem sed sunt voluptas!
        Distinctio ea fugiat maiores nesciunt quam quis, quo rerum unde?
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus,
        blanditiis hic impedit nihil quae quaerat quam quidem sed sunt voluptas!
        Distinctio ea fugiat maiores nesciunt quam quis, quo rerum unde?
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus,
        blanditiis hic impedit nihil quae quaerat quam quidem sed sunt voluptas!
        Distinctio ea fugiat maiores nesciunt quam quis, quo rerum unde?
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus,
        blanditiis hic impedit nihil quae quaerat quam quidem sed sunt voluptas!
        Distinctio ea fugiat maiores nesciunt quam quis, quo rerum unde?
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus,
        blanditiis hic impedit nihil quae quaerat quam quidem sed sunt voluptas!
        Distinctio ea fugiat maiores nesciunt quam quis, quo rerum unde?
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus,
        blanditiis hic impedit nihil quae quaerat quam quidem sed sunt voluptas!
        Distinctio ea fugiat maiores nesciunt quam quis, quo rerum unde?
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus,
        blanditiis hic impedit nihil quae quaerat quam quidem sed sunt voluptas!
        Distinctio ea fugiat maiores nesciunt quam quis, quo rerum unde?
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus,
        blanditiis hic impedit nihil quae quaerat quam quidem sed sunt voluptas!
        Distinctio ea fugiat maiores nesciunt quam quis, quo rerum unde?
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus,
        blanditiis hic impedit nihil quae quaerat quam quidem sed sunt voluptas!
        Distinctio ea fugiat maiores nesciunt quam quis, quo rerum unde?
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus,
        blanditiis hic impedit nihil quae quaerat quam quidem sed sunt voluptas!
        Distinctio ea fugiat maiores nesciunt quam quis, quo rerum unde?

    </p>
</div>


{%endblock%}